.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 150%;
  padding: 0 10px;
  border-radius: $cardBorderRadius;
  box-sizing: border-box;
  white-space: nowrap;
  position: relative;
  font-weight: 600;
  font-size: 11px;
  transition-duration: .2s;
  transition-timing-function: ease;
  transition-property: color, background-color;

  &__icon {
    margin-right: 10px;
    transition-duration: .2s;
    transition-timing-function: ease;
    transition-property: color;
  }

  &--size {
    &-s {
      height: 40px;
    }

    &-m {
      height: 40px;
    }

    &-l {
      height: 40px;
    }
  }

  &--view {
    &-primary {
      background-color: $primaryBackground;
      color: $whiteColor ;

      & .button{
        &__icon {
          color: $whiteColor;
        }
      }

      @media (min-width: $tabletLate) {
        &:hover {
          background-color: #842338;
        }
      }
    }
    &-secondary {
      background-color: $secondaryBackground;
      color: $secondaryColor;

      & .button{
        &__icon {
          color: $primaryColor;
        }
      }

      @media (min-width: $tabletLate) {
        &:hover {
          background-color: $secondaryBackground;
          color: #929393;

          & .button{
            &__icon {
              color: #CF93A0;
            }
          }
        }
      }
    }
  }

  &--shadow {
    &-flat {
      box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.15);
    }
    &-box {
      box-shadow: $shadow;
    }
  }

  &.is-disabled {
    background-color: $tagBackground;
    box-shadow: none;
    &.button {
      span {
        color: $primaryColor;
        opacity: 0.2;
      }
      svg {
        opacity: 0.2;
      }
    }
    pointer-events: none;
  }

  @media (min-width: $tablet) {
    padding: 0 15px;

    &--size {
      &-s {
        height: 50px;
        font-size: 16px;
      }

      &-m {
        height: 50px;
        font-size: 16px;
      }

      &-l {
        height: 50px;
        font-size: 18px;
      }
    }
  }

  @media (min-width: $desktop) {
    padding: 0 20px;

    &--size {
      &-s {
        height: 50px;
        font-size: 20px;
      }

      &-m {
        height: 60px;
        font-size: 20px;
      }

      &-l {
        height: 80px;
        font-size: 26px;
      }
    }
  }
}
