.link {
  display: inline-flex;
  align-items: center;
  position: relative;
  transition: opacity 0.3s ease;

  &[type="button"] {
    cursor: pointer;
  }

  &__icon {
    font-size: inherit;
    padding-left: 8px;
    color: $primaryBackground;
  }

  span {
    transition: 0.3s ease;
    transition-property: opacity, color, border-bottom-color;
  }

  &::before {
    content: '';
    position: absolute;
    top: -4px;
    bottom: -4px;
    left: 0;
    right: 0;
  }

  &.is-underline {
    span {
      border-bottom-color: transparent;
      border-bottom-width: 1px;
      border-style: solid;
    }
  }

  &--size {
    &-m {
      font-size: 15px;
    }
  }

  &--view {
    &-primary {
      span {
        color: $primaryColor;
        border-bottom-color: $primaryColor;
      }
    }

    &-secondary {
      span {
        color: $secondaryColor;
        border-bottom-color: $secondaryColor;
      }
    }
  }

  &.is-active {
    &.link--view {
      &-secondary {
        span {
          color: $primaryColor;
          border-bottom-color: $primaryColor;
        }
      }
    }
  }

  @media (min-width: $tabletLate) {
    &:not(.is-disabled) {
      &:hover {
        &.link--view {
          &-primary {
            span {
              color: $secondaryColorHover;
              border-bottom-color: $secondaryColorHover;
            }
          }
          &-secondary {
            span {
              color: $primaryColor;
              border-bottom-color: $primaryColor;
            }
          }
        }
      }
    }
  }
}
