.link {
  display: inline-flex;
  align-items: center;
  position: relative;
  transition: opacity 0.3s ease;

  span {
    transition: 0.3s ease;
    transition-property: opacity, color, border-bottom-color;
  }

  &::before {
    content: '';
    position: absolute;
    top: -4px;
    bottom: -4px;
    left: 0;
    right: 0;
  }

  &.is-underline {
    span {
      border-bottom-color: transparent;
      border-bottom-width: 1px;
      border-style: solid;
    }
  }

  &--size {
    &-m {
      font-size: toRem(15);
    }
  }

  &--view {
    &-primary {
      span {
        color: $primaryColor;
        border-bottom-color: $primaryColor;
      }
    }

    &-secondary {
      span {
        color: $secondaryColor;
        border-bottom-color: $secondaryColor;
      }
    }
  }

  &.is-disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  &:not(.is-disabled) {
    &:hover {
      &.link--view {
        &-primary {
          span {
            color: $primaryColorHover;
            border-bottom-color: $primaryColorHover;
          }
        }
        &-secondary {
          span {
            color: $secondaryColorHover;
            border-bottom-color: $secondaryColorHover;
          }
        }
      }
    }
  }
}
