.questions {
  padding-top: 26px;
  padding-bottom: 40px;
  background-color: $primaryBackground;

  &__container {
    @media (max-width: $maxMobile) {
      padding: 0;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 20px;
    color: $whiteColor;
    margin-bottom: 15px;

    @media (max-width: $maxMobile) {
      padding-left: 20px;
    }
  }

  @media (min-width: $tablet) {
    &__collapse {
      break-inside: avoid;
      &+& {
        margin-top: 20px;
      }
    }

    &__title {
      font-size: 33px;
      margin-bottom: 25px;
    }

    &__wrapper {
      column-count: 2;
      column-gap: 20px;
    }
  }

  @media (min-width: $desktop) {
    padding-top: 71px;
    padding-bottom: 100px;

    &__collapse {
      &+& {
        margin-top: 30px;
      }
    }
    &__title {
      font-size: 46px;
      margin-bottom: 35px;
    }
    &__wrapper {
      column-gap: 30px;
    }
  }
}
