.trade {
  &__preview {
    @media (max-width: $maxMobile) {
      margin-bottom: 20px;
    }
  }
  &__image {
    padding: 10px;
    background-color: $secondaryBackground;
    box-shadow: $shadowEasy;
    border-radius: $cardBorderRadius;
  }

  &__border {
    display: flex;
    align-items: center;
    justify-content: center;
    border: $inputBorderStyle;
    padding: 20px 40px;
    box-sizing: border-box;

    img {
      width: 100%;
    }
  }

  &__step {
    &+& {
      padding-top: 20px;
    }
  }

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    &__first {
      width: calc(40% + (30px));
    }

    &__second {
      width: 60%;
    }

    @media (min-width: $desktop) {
      gap: 50px;

      &__first {
        width: 520px;
      }
    }
  }
}
