.products {
  padding-bottom: 25px;

  &__title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
  }

  &__wrapper {
    white-space: nowrap;
    overflow-x: scroll;
    padding: 4px 20px 20px;
    margin: -4px -20px 0;
  }

  &__card {
    transition-timing-function: ease;
    transition-duration: .2s;
    transition-property: opacity;

    &+& {
      margin-left: 20px;
    }
  }

  @media (min-width: $tablet) {
    &__title {
      font-size: 46px;
      margin-bottom: 35px;
    }
    &__wrapper {
      padding: 4px 40px 20px;
      margin: -4px -40px 0;
    }

    &__card {
      &:hover {
        opacity: 0.5;
      }
    }
  }

  @media (min-width: $desktop) {
    padding-bottom: 79px;

    &__wrapper {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  @media (min-width: $desktopLate) {
    &__wrapper {
      overflow-x: hidden;
    }
  }
}
