.os-windows {
    @media (hover: hover) {
        /* width */
        ::-webkit-scrollbar {
            width: 4px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background-color: rgba(255,255,255,0.1);
            border-radius: 4px;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background-color: $primaryColor;
            border-radius: 4px;
        }
    }
}
