// Colors
$primaryColor: #A02842;
$primaryColorHover: #5b1726;
$secondaryColor: #262728;
$secondaryColorHover: #131313;
$whiteColor: #FFFFFF;
$starColor: #FFCC00;
$grayLightColor: #EEEFF0;
$grayDarkColor: #C6C7C8;

// Backgrounds
$mainBackground: #F8F9FA;
$primaryBackground: $primaryColor;
$secondaryBackground: $whiteColor;
$tagBackground: #FFEDF0;
$redLightBackground: #FFEDF0;
