$containerMaxWidth: 1330px;

$containerPaddingMobile: 20px;
$containerPaddingTablet: 40px;
$containerPaddingTabletLate: $containerPaddingTablet;
$containerPaddingDesktop: 20px;

$shadow: 0 5px 25px rgba(0, 0, 0, 0.1);

$menuZIndex: 2;

$cardBorderRadius: 5px;
