.card-step {
  position: relative;
  background-image: url("static/images/steps/first.png");
  background-repeat: no-repeat;
  box-sizing: border-box;
  border-radius: $cardBorderRadius;
  width: 220px;
  height: 320px;
  display: inline-block;
  background-size: cover;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, #A02842 47.06%, rgba(160, 40, 66, 0) 100%);
    border-radius: $cardBorderRadius;
    opacity: 0.9;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $primaryBackground;
    border-radius: $cardBorderRadius;
    opacity: 0.3;
  }

  &__wrapper {
    position: absolute;
    padding: 50px 20px;
    top: 70px;
    left: 0;
    right: 0;
    z-index: 1;
  }

  &__number {
    display: block;
    position: relative;
    font-weight: 600;
    font-size: 20px;
    opacity: 0.5;
    color: $whiteColor;
    padding-bottom: 15px;
    margin-bottom: 10px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: $secondaryBackground;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 16px;
    color: $whiteColor;
    line-height: 150%;
    margin-bottom: 7px;
    white-space: normal;
  }

  &__text {
    font-size: 11px;
    color: $whiteColor;
    opacity: 0.5;
    line-height: 150%;
    white-space: normal;
  }

  @media (min-width: $desktop) {
    width: 385px;
    height: 498px;

    &__wrapper {
      padding: 63px 50px;
      top: 110px;
    }

    &__number {
      font-size: 46px;
      padding-bottom: 11px;
      margin-bottom: 19px;
    }
    &__title {
      font-size: 26px;
      margin-bottom: 12px;
    }

    &__text {
      font-size: 20px;
    }
  }
}
