.first-step {
  &__label {
    font-size: 11px;
    margin-bottom: 10px;
  }

  &__search {
    padding: 12px 10px;
    background-color: $mainBackground;
    border: $inputBorderStyle;
    font-size: 16px;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0
    }

    &::placeholder {
      opacity: .4;
    }
  }

  &__tags {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }

  &__tag {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 100px;
    border: $searchedTagBorderStyle;
    cursor: pointer;
    transition-timing-function: ease;
    transition-duration: .2s;
    transition-property: color, background-color, border;

    &.is-active {
      background-color: $primaryBackground;
      color: $whiteColor;
      border: $tagBorderStyle;
    }
  }

  @media (min-width: $tablet) {
    &__search {
      font-size: 16px;
      padding: 18px 16px;
    }
    &__label {
      font-size: 12px;
      margin-bottom: 15px;
    }
    &__tags {
      gap: 15px;
      margin-top: 15px;
    }
    &__tag {
      &:hover {
        background-color: $primaryBackground;
        color: $whiteColor;
        border: $tagBorderStyle;
      }
    }
  }

  @media (min-width: $desktop) {
    &__label {
      font-size: 18px;
      margin-bottom: 20px;
    }
    &__search {
      font-size: 20px;
      padding: 25px 20px;
    }
    &__tags {
      margin-top: 20px;
      gap: 20px;
    }

    &__tag {
      font-size: 14px;
    }
  }
}
