.contact-layout {
  &__callback {
    padding-bottom: 15px;
    border-bottom: $menuBorderStyle;
  }
  &__social {
    padding-top: 15px;
  }

  @media (min-width: $tablet) {
    &__callback {
      max-width: 630px;
      margin: 0 auto;
      padding-bottom: 30px;
    }
    &__social {
      max-width: 420px;
      margin: 0 auto;
      padding-top: 30px;
    }
  }
}
