.collapse {
  overflow: hidden;
  padding: 22px 20px;
  background-color: $primaryColor;
  border-bottom: 1px solid rgba(255,255,255,0.2);

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-weight: 600;
    font-size: 16px;
    color: $whiteColor;
    line-height: 150%;
  }

  &__icon {
    font-size: 20px;
    margin-left: 20px;
    color: $whiteColor;
    transition: transform 0.2s ease;
  }

  &__content {
    padding-top: 10px;
    font-size: 12px;
    line-height: 150%;
    color: $primaryColor;
  }

  &.is-active {
    background-color: $secondaryBackground;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    .collapse {
      &__title {
        color: $primaryColor;
      }
      &__icon {
        color: $primaryColor;
        transform: rotate(180deg);
      }
      &__content {
        color: $secondaryColor;
      }
    }
  }

  @media (min-width: $tablet) {
    border-radius: $cardBorderRadius;
    border: 2px solid rgba(255, 255, 255, 0.1);

    &__title {
      font-size: 18px;
    }

    &__content {
      font-size: 14px;
    }

    &__icon {
      font-size: 22px;
    }
  }

  @media (min-width: $desktop) {
    padding: 40px 50px;
    cursor: pointer;

    &__title {
      font-size: 26px;
    }

    &__content {
      font-size: 20px;
    }

    &__icon {
      font-size: 30px;
      margin-left: 40px;
    }

    &__wrapper {
      cursor: auto;
    }
  }
}
