.selling {
  &__title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
  }

  @media (min-width: $desktop) {
    &__title {
      font-size: 46px;
      margin-bottom: 35px;
    }
  }
}
