.callback {
  &__label {
    line-height: 150%;
    padding-left: 10px;
    margin-bottom: 8px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 14px;
  }
  &__input {
    font-size: 16px;
    font-family: inherit;
    padding: 0 10px;
    height: 40px;
    background-color: $mainBackground;
    border: $inputBorderStyle;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0
    }

    &::placeholder {
      opacity: .4;
    }
  }
  &__link {
    display: block;
    text-align: center;
    opacity: 0.4;
    text-decoration: underline;
    transition-property: opacity;
    transition-timing-function: ease;
    transition-duration: .2s;
    line-height: 150%;

    &:hover {
      opacity: 1;
    }
  }

  @media (max-width: $maxTablet) {
    &__button {
      font-size: 14px;
    }
  }

  @media (min-width: $desktop) {
    &__label {
      font-size: 14px;
      margin-bottom: 16px;
    }
    &__input {
      height: 80px;
      font-size: 26px;
    }
    &__wrapper {
      margin-bottom: 24px;
    }
    &__link {
      display: block;
      font-size: 14px;
    }
  }
}
