.reviews {
  padding-top: 27px;
  padding-bottom: 40px;

  &__title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 5px;
  }

  &__about {
    margin-bottom: 18px;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 15px;
  }

  &__resources {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__button {
    display: block;
    margin: 0 auto;
  }

  &__wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__message {
    &+& {
      margin-top: 20px;
    }
  }

  @media (min-width: $desktop) {
    padding-top: 71px;
    padding-bottom: 100px;

    &__wrapper {
      padding-top: 30px;
      padding-bottom: 50px;
    }

    &__title {
      font-size: 46px;
      margin-bottom: 20px;
    }

    &__subtitle {
      font-size: 26px;
      margin-bottom: 0;
    }

    &__about {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;
    }

    &__appraiser {
      &+& {
        margin-left: 50px;
      }
    }
  }
}
